In [2]:
import pandas as pd
import numpy as np

In [19]:
data = [{'eng':30,'kor':70,'math':100},
        {'eng':60,'kor':30,'math':50},
       {'eng':80,'kor':70,'math':90},
       {'eng':90,'kor':60,'math':65},
       {'eng':70,'kor':20,'math':80}]
df = pd.DataFrame(data, index=['aa','bb','cc','dd','ee'])
df

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
dd   90   60    65
ee   70   20    80

In [4]:
df+1

    eng  kor  math
aa   31   71   101
bb   61   31    51
cc   81   71    91
dd   91   61    66
ee   71   21    81

In [5]:
df*2

    eng  kor  math
aa   60  140   200
bb  120   60   100
cc  160  140   180
dd  180  120   130
ee  140   40   160

In [6]:
df['eng']= [1,2,3,4,5] 
df

    eng  kor  math
aa    1   70   100
bb    2   30    50
cc    3   70    90
dd    4   60    65
ee    5   20    80

In [7]:
df['eng']= df['eng']+2 
df

    eng  kor  math
aa    3   70   100
bb    4   30    50
cc    5   70    90
dd    6   60    65
ee    7   20    80

In [8]:
df.loc['aa'] = df.loc['aa']+2
df

    eng  kor  math
aa    5   72   102
bb    4   30    50
cc    5   70    90
dd    6   60    65
ee    7   20    80

In [9]:
#row boolean indexing
df[ [True,False,True,True,False] ]

    eng  kor  math
aa    5   72   102
cc    5   70    90
dd    6   60    65

In [10]:
df[ df['eng']>=80 ]

Empty DataFrame
Columns: [eng, kor, math]
Index: []

In [11]:
df

    eng  kor  math
aa    5   72   102
bb    4   30    50
cc    5   70    90
dd    6   60    65
ee    7   20    80

In [20]:
df[df['eng']<=80]

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
ee   70   20    80

In [22]:
df[(df['eng']>=30) & (df['eng']<=80)]

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
ee   70   20    80