In [1]:
import pandas as pd
import numpy as np

In [3]:
data = [{'eng':30,'kor':70,'math':100},
        {'eng':60,'kor':30,'math':50},
       {'eng':80,'kor':70,'math':90},
       {'eng':90,'kor':60,'math':65},
       {'eng':70,'kor':20,'math':80}]
df = pd.DataFrame(data, index=['aa','bb','cc','dd','ee'])
df

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
dd   90   60    65
ee   70   20    80

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [4]:
df.shape #(행,열)

(5, 3)

In [5]:
df.size #행X열

15

In [6]:
df.ndim #몇차원?

2

In [7]:
df.T

       aa  bb  cc  dd  ee
eng    30  60  80  90  70
kor    70  30  70  60  20
math  100  50  90  65  80

In [8]:
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, aa to ee
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     5 non-null      int64
 1   kor     5 non-null      int64
 2   math    5 non-null      int64
dtypes: int64(3)
memory usage: 320.0+ bytes

In [10]:
df.index

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')

In [11]:
type(df.index)

pandas.core.indexes.base.Index

In [12]:
df.values

array([[ 30,  70, 100],
       [ 60,  30,  50],
       [ 80,  70,  90],
       [ 90,  60,  65],
       [ 70,  20,  80]], dtype=int64)

In [13]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')