In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [{'eng':30,'kor':70,'math':100},
        {'eng':60,'kor':30,'math':50},
       {'eng':80,'kor':70,'math':90},
       {'eng':90,'kor':60,'math':65},
       {'eng':70,'kor':20,'math':80}]
df = pd.DataFrame(data, index=['aa','bb','cc','dd','ee'])
df

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
dd   90   60    65
ee   70   20    80

In [9]:
#df[컬럼명]
# df['eng'].시리즈속성(메소드)
# df['eng'].max()
df['eng']

aa    30
bb    60
cc    80
dd    90
ee    70
Name: eng, dtype: int64

In [10]:
df[ ['eng','math'] ]

    eng  math
aa   30   100
bb   60    50
cc   80    90
dd   90    65
ee   70    80

In [11]:
df[0:4] #슬라이싱은 row(index)별로 ..

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
dd   90   60    65

In [12]:
df['aa':'dd']

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
dd   90   60    65

In [13]:
# df.loc[부여된인덱스,부여된컬럼]
df.loc['aa']

eng      30
kor      70
math    100
Name: aa, dtype: int64

In [15]:
df.loc['bb':'dd', 'eng']

bb    60
cc    80
dd    90
Name: eng, dtype: int64

In [16]:
df.loc['bb':'dd', 'kor':]

    kor  math
bb   30    50
cc   70    90
dd   60    65

In [17]:
df.loc['bb':'dd', ['kor','math']]

    kor  math
bb   30    50
cc   70    90
dd   60    65

In [19]:
df.loc[['aa','cc','dd'], ['eng','math']]

    eng  math
aa   30   100
cc   80    90
dd   90    65

In [21]:
# df.iloc[zerobaseindex , zerobase column]
df.iloc[1:]

    eng  kor  math
bb   60   30    50
cc   80   70    90
dd   90   60    65
ee   70   20    80

In [22]:
df.iloc[1:,1:]

    kor  math
bb   30    50
cc   70    90
dd   60    65
ee   20    80

In [23]:
df.iloc[1:,[0,2] ]

    eng  math
bb   60    50
cc   80    90
dd   90    65
ee   70    80

In [20]:
df

    eng  kor  math
aa   30   70   100
bb   60   30    50
cc   80   70    90
dd   90   60    65
ee   70   20    80