In [1]:
import pandas as pd
import numpy as np

In [2]:
sr = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'],
              name='국어점수')

In [3]:
sr

a    10
b    20
c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [4]:
sr[0]

10

In [5]:
sr[-1]

50

In [6]:
sr['a']

10

In [9]:
sr[['b','d','e']]

b    20
d    40
e    50
Name: 국어점수, dtype: int64

In [10]:
sr[[1,3,4]]

b    20
d    40
e    50
Name: 국어점수, dtype: int64

In [11]:
sr[1:4:1]

b    20
c    30
d    40
Name: 국어점수, dtype: int64

In [12]:
sr[[True,False,False,True,True]]

a    10
d    40
e    50
Name: 국어점수, dtype: int64

In [13]:
sr

a    10
b    20
c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [14]:
# 부여된 인덱스 기준으로 인덱싱, 슬라이싱
sr.loc['a']

10

In [16]:
sr.loc['c':'e']

c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [17]:
# zero base로 인덱싱, 슬라이싱 하는 속성
sr.iloc[1]

20

In [18]:
sr.iloc[1:4]

b    20
c    30
d    40
Name: 국어점수, dtype: int64

In [20]:
sr.index = [2,3,4,5,6]

In [21]:
sr

2    10
3    20
4    30
5    40
6    50
Name: 국어점수, dtype: int64

In [24]:
#인덱스 문자열이 아니라 숫자만 부여된 인덱스 기준만 적용됨.
sr[2]

10

In [25]:
sr[:]

2    10
3    20
4    30
5    40
6    50
Name: 국어점수, dtype: int64

In [26]:
sr.iloc[0]

10