In [1]:
import pandas as pd
import numpy as np

In [2]:
sr = pd.Series(['홍길동', '김철수', '이순신', '김순이', '김성동', '이황'])

In [3]:
sr

0    홍길동
1    김철수
2    이순신
3    김순이
4    김성동
5     이황
dtype: object

In [4]:
sr.str

In [5]:
sr.str[0]

0    홍
1    김
2    이
3    김
4    김
5    이
dtype: object

In [6]:
sr.str[1:]

0    길동
1    철수
2    순신
3    순이
4    성동
5     황
dtype: object

In [9]:
sr[sr.str.contains('^이')]

2    이순신
5     이황
dtype: object

In [10]:
sr[sr.str.contains('이$')]

3    김순이
dtype: object

In [12]:
sr[sr.str.contains('^이|김')]

1    김철수
2    이순신
3    김순이
4    김성동
5     이황
dtype: object

In [13]:
sr[sr.str.contains('김[철순]')]

1    김철수
3    김순이
dtype: object

In [ ]:
# sr.index.str.contains