In [1]:
import pandas as pd
import numpy as np

In [2]:
sr = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'],
              name='국어점수')

In [4]:
sr

a    10
b    20
c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [6]:
# element wise(요소별 연산)
sr+1

a    11
b    21
c    31
d    41
e    51
Name: 국어점수, dtype: int64

In [8]:
sr*2

a     20
b     40
c     60
d     80
e    100
Name: 국어점수, dtype: int64

In [9]:
salary = pd.Series([1000, 2000, 3000, 4000, 5000],
                  name='연봉')

In [11]:
salary*0.967

0     967.0
1    1934.0
2    2901.0
3    3868.0
4    4835.0
Name: 연봉, dtype: float64

In [12]:
sr

a    10
b    20
c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [13]:
sr[sr>=30]

c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [19]:
# 논리연산자 ( &, |, ~ )
(sr == 20) | (sr == 50)

a    False
b     True
c    False
d    False
e     True
Name: 국어점수, dtype: bool

In [20]:
sr[(sr == 20) | (sr == 50)]

b    20
e    50
Name: 국어점수, dtype: int64

In [21]:
(sr>=20)&(sr<40)

a    False
b     True
c     True
d    False
e    False
Name: 국어점수, dtype: bool

In [26]:
sr[~((sr==20)|(sr==50))]

a    10
c    30
d    40
Name: 국어점수, dtype: int64