In [1]:
import pandas as pd
import numpy as np

In [21]:
sr = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'],
              name='국어점수')

In [5]:
# 추가, 수정, 삭제, 검색, 정렬 (CRUD 수행) 
sr[0] = 100 # 수정

In [6]:
sr

a    100
b     20
c     30
d     40
e     50
Name: 국어점수, dtype: int64

In [7]:
sr[1:3] = [1,2]

In [9]:
sr[1:3] +=2

In [10]:
sr

a    100
b      3
c      4
d     40
e     50
Name: 국어점수, dtype: int64

In [12]:
sr['f'] = 100

In [13]:
sr

a     10
b     20
c     30
d     40
e     50
f    100
Name: 국어점수, dtype: int64

In [15]:
sr.drop('a')

b     20
c     30
d     40
e     50
f    100
Name: 국어점수, dtype: int64

In [16]:
sr

a     10
b     20
c     30
d     40
e     50
f    100
Name: 국어점수, dtype: int64

In [17]:
sr.drop(['a'], inplace=True)

In [18]:
sr

b     20
c     30
d     40
e     50
f    100
Name: 국어점수, dtype: int64

In [19]:
sr.drop(['d', 'f'])

b    20
c    30
e    50
Name: 국어점수, dtype: int64

In [22]:
sr

a    10
b    20
c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [25]:
# 30 이상인 데이터를 삭제하시옹
sr.drop(sr[sr>=30].index)

a    10
b    20
Name: 국어점수, dtype: int64

In [26]:
sr

a    10
b    20
c    30
d    40
e    50
Name: 국어점수, dtype: int64

In [27]:
sr[0] = 100

In [29]:
sr.sort_values(inplace=True)

In [30]:
sr

b     20
c     30
d     40
e     50
a    100
Name: 국어점수, dtype: int64

In [31]:
sr.sort_index(ascending=False)

e     50
d     40
c     30
b     20
a    100
Name: 국어점수, dtype: int64